# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Python
backend/__pycache__/
backend/.venv/
backend/env/
backend/*.pyc

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log